<header>
  <nav class="navigation">
    <a href="#">Logo</a>
    <form class="form">
      <input type="search" placeholder="what are you looking for?     " />
      <button>Search</button>

      <ul>
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
        <li>Link 4</li>
      </ul>
      <button>Sign up</button>
      <button>Log in</button>
    </form>
  </nav>
</header>
