<div class="section">
  <div class="container">
    <p>Have an account <span>Log in</span></p>
    <h2>Welcome to Bacisity</h2>
    <p>start your journey with us! sign up below.</p>

    <form>
      <div class="container__contact-box">
        <input
          type="text"
          class="field"
          required="required"
          placeholder="First Name"
        />
        <input
          type="text"
          class="field"
          required="required"
          placeholder="Last Name"
        />
        <input
          type="email"
          class="field"
          required="required"
          placeholder="Email Address"
        />
        <input
          type="password"
          class="field"
          required="required"
          placeholder="password"
        />
      </div>
      <div class="checkmark">
        <p>
          Send me emails about new offers, information, and deals that i may
          like.
        </p>
      </div>
      <div class="checkmark">
        <p>
          i agree to the <span>terms of service</span> and
          <span>privacy policy</span>
        </p>
        <button class="btn">Sign up</button>
    </form>
      </div>
      <p>or sign up with</p>
      <div class="social">
        <a href="#">Google icon</a>
        <a href="#">Facebook icon</a>
        <a href="#">Kinkedin icon</a>
      </div>
      <div class="img"> Image on the right</div>
   
  </div>
</div>
